/* #region COLOURS */

:root 
{
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #00fa6c;
    --clr-primary-a10: #4ffb7e;
    --clr-primary-a20: #71fd8e;
    --clr-primary-a30: #8bfe9f;
    --clr-primary-a40: #a2ffaf;
    --clr-primary-a50: #b7ffbf;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1a261b;
    --clr-surface-tonal-a10: #2f3a30;
    --clr-surface-tonal-a20: #465046;
    --clr-surface-tonal-a30: #5e675e;
    --clr-surface-tonal-a40: #767e77;
    --clr-surface-tonal-a50: #909790;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}
/* #endregion COLOURS */

body 
{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-surface-a0);
    
}
    .notification 
    {
        max-width: 60vw;
        margin: 24px auto 0 auto;
        text-align: left;
        background-color: var(--clr-warning-a20);
        color: var(--clr-dark-a0);
        padding: 8px 32px;
        font-size: 14px;
        border-left: var(--clr-warning-a10) 8px solid;
        border-radius: 16px;
    }

    .section-title 
    {
        text-align: center;
        color: var(--clr-light-a0);
        font-size: 24px;
        margin: 32px auto 24px auto;
    }

    /* #region LOADER */
    
    .terminal-font 
    {
        font-family: 'Space Mono', monospace;
    }
    
    .crt-screen {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), inset 0 0 10px rgba(0, 255, 0, 0.2);
        position: relative;
        background-color: var(--clr-surface-a0);
    }
        
    .crt-screen::after 
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.4) 50%);
        z-index: 10;
        background-size: 100% 4px;
        pointer-events: none;
        opacity: 0.5;
    }

    .terminal-text 
    {
        text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }
        
    @keyframes blink 
    {
        50% { opacity: 0; }
    }

    .blinking-cursor 
    {
        opacity: 1;
        animation: blink 1s step-start infinite;
    }

    /* #endregion LOADER */
    
    /* #region BLOCKS */

    .block 
    {
        background-color: var(--clr-surface-a0);
        border: var(--clr-surface-a30) 1px solid;
        border-radius: 16px;
        color: var(--clr-light-a0);
        cursor: default;
        font-size: 16px;
    }
        .block *:nth-child(1) { font-weight: bold; }
        .block *:nth-child(2) { color: var(--clr-surface-a30); }
        .block *:nth-child(2n) { text-align: end;}
        .block.animated:hover
        {
            border: 1px solid var(--clr-surface-a30);
            animation: borderShift 6s ease-in-out infinite alternate;
        }

    .bulb
    {
        text-align: center;
        margin-top: 8px;
    }

        .bulb.success
        {
            animation: bulbSuccess 4s ease-in-out infinite alternate;
        }

        .bulb.warning
        {
            animation: bulbWarning 4s ease-in-out infinite alternate;
        }

        .bulb.danger
        {
            animation: bulbDanger 4s ease-in-out infinite alternate;
        }

    /* #endregion BLOCKS */

    /* #region REDDIT */

    .reddit
    {
        width: 60vw;
        margin: 0 auto 4vh auto;
        text-align: left;
        color: var(--clr-light-a0);
        padding: 16px 32px;
        border-radius: 8px;
    }

    .reddit-post
    {
        margin-bottom: 16px;
        padding-bottom: 0;
        border-bottom: var(--clr-surface-a30) 1px solid;
    }

        .reddit-post:last-child
        {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .reddit-post a
        {
            color: var(--clr-primary-a10);
            text-decoration: none;
            font-weight: bold;
        }

        .reddit-post a:hover
        {
            text-decoration: underline;
        }

        .reddit-post a h3
        {
            font-size: 16px;
        }

        .reddit-post p
        {
            font-size: 14px;
            color: var(--clr-surface-tonal-a30);
        }

    /* #endregion REDDIT */

    /* #region FOOTER */
    
    footer
    {
        text-align: center;
        color: var(--clr-surface-a40);
        font-size: 14px;
        padding: 16px 0;
        margin-top: 32px;
        border-top: var(--clr-surface-a30) 1px solid;
    }

    /* #endregion FOOTER */
    
    /* #region ANIMATIONS */

    @keyframes borderShift
    {
        0%
        {
            border-color: var(--clr-surface-a30);
            box-shadow: 0 0 0 var(--clr-surface-a0);
        }
        50%
        {
            border-color: var(--clr-primary-a20);
            box-shadow: 0 0 8px var(--clr-primary-a40);
        }
        100% 
        { 
            border-color: var(--clr-surface-a30);
            box-shadow: 0 0 0 var(--clr-surface-a0);
        }
    }

    @keyframes bulbSuccess
    {
        0%
        {
            color: var(--clr-success-a0);
        }
        50%
        {
            color: var(--clr-success-a10);
        }
        100% 
        { 
            color: var(--clr-success-a0);
        }
    }

    @keyframes bulbWarning
    {
        0%
        {
            color: var(--clr-warning-a0);
        }
        50%
        {
            color: var(--clr-warning-a10);
        }
        100% 
        { 
            color: var(--clr-warning-a0);
        }
    }

    @keyframes bulbDanger
    {
        0%
        {
            color: var(--clr-danger-a0);
        }
        50%
        {
            color: var(--clr-danger-a10);
        }
        100% 
        { 
            color: var(--clr-danger-a0);
        }
    }

    /* #endregion ANIMATIONS */

    /* #region NOTES */

    .note-container 
    {
        max-width: 60vw;
        margin: auto;
    }

        .buttons
        {
            display: flex;
            justify-content: space-between;
            max-width: 60vw;
        }

        .note-container pre
        {
            color: var(--clr-light-a0);
            font-size: 16px;
        }

        .note-container p 
        {
            color: var(--clr-surface-a50);
        }

        .note
        {
            border-bottom: solid var(--clr-surface-a30) 1px;
        }

        .note:last-child
        {
            border-bottom: none;
        }

        #note-input 
        {
            width: 100%;
            height: 128px;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid var(--clr-light-a0);
            font-size: 16px;
            resize: none;
            border-radius: 8px;
        }

        #save-button, #clear-button 
        {
            justify-content: space-between;
            background-color: var(--clr-primary-a0);
            color: var(--clr-surface-a0);
            border: none;
            padding: 12px 16px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        #clear-button 
        {
            background-color: var(--clr-danger-a10);
            color: var(--clr-surface-a0);
        }

        #save-button:hover
        {
            background-color: var(--clr-primary-a20);
        }
        #clear-button:hover 
        {
            background-color: var(--clr-danger-a20);
        }

    /* #endregion NOTES */

    /* #region REPORT */

    .report
    {
        text-align: justify;
        border: none;
    }

        table 
        {
            max-width: 80vw;
            width: 100%;
            margin: 16px auto;
            border-collapse: collapse;
            color: var(--clr-light-a0);
        }

            table caption 
            {
                font-size: 1.5em;
                margin-bottom: 8px;
            }

            table, th, td 
            {
                border: 1px solid var(--clr-surface-a30);
                padding: 16px;
            }

            th 
            {
                background-color: var(--clr-surface-a20);
            }

            tr:nth-child(even) 
            {
                background-color: var(--clr-surface-a10);
            }
            table a 
            {
                color: var(--clr-primary-a10);
            }
    /* #endregion REPORT */