/* #region COLOURS */

:root 
{
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #00fa6c;
    --clr-primary-a10: #4ffb7e;
    --clr-primary-a20: #71fd8e;
    --clr-primary-a30: #8bfe9f;
    --clr-primary-a40: #a2ffaf;
    --clr-primary-a50: #b7ffbf;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1a261b;
    --clr-surface-tonal-a10: #2f3a30;
    --clr-surface-tonal-a20: #465046;
    --clr-surface-tonal-a30: #5e675e;
    --clr-surface-tonal-a40: #767e77;
    --clr-surface-tonal-a50: #909790;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}
/* #endregion COLOURS */

body 
{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-surface-a0);
    
}
    /* #region HEADER */

    header 
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--clr-light-a0);
    }
        
        header h2 
        {
            font-size: 2em;
            color: var(--clr-primary-a0);
        }
        
        .weather-container-col
        {
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            max-height: 50px;
        }
        
        .weather-container-row
        {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 0px;
            text-align: left;
            font-size: 1em;
        }
            
            #weather-icon 
            {
                vertical-align: middle;
            }

            #city-name, #temperature 
            {
                vertical-align: middle;
                margin: 0;
            }
            
            #city-name::after 
            {
                content: ",\00a0";
            }
            
            #description 
            {
                padding: 8px 0;
                margin: 0;
                color: var(--clr-surface-tonal-a30);
            }
    /* #endregion HEADER */
    
    /* #region NAVBAR */

    nav 
    {
        display: flex;
        justify-content: center;
        padding: 8px;
        overflow: hidden;
    }

        nav a 
        {
            color: var(--clr-light-a0);
            font-size: 24px;
            text-decoration: none;
            transition: transform 0.5s ease;
            padding: 8px 6vw;
        }

        nav a:hover 
        {
            transform: scale(120%);
        }
        nav a i
        {
            color: var(--clr-light-a0);
        }
        nav a .desc
        {
            display: inline-block;
            max-width: 0;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
            opacity: 0;
            transition: max-width 0.5s ease, opacity 0.5s ease;
        }

        nav a:hover .desc,
        nav a:focus .desc
        {
            max-width: 240px;
            opacity: 1;
            
        }
    /* #endregion NAVBAR */

    /* #region BLOCKS */
    
    .notification 
    {
        width: 60vw;
        margin: 0 auto 4vh auto;
        text-align: left;
        background-color: var(--clr-warning-a20);
        color: var(--clr-dark-a0);
        padding: 8px 32px;
        font-size: 14px;
        border-left: var(--clr-warning-a10) 8px solid;
        border-radius: 16px;
    }

    .section-title 
    {
        text-align: center;
        color: var(--clr-light-a0);
        font-size: 24px;
        margin: 48px auto 24px auto;
    }
        
    .block 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 16px;
        width: 100%;
        cursor: default;
        color: var(--clr-light-a0);
        padding: 16px;
        border: var(--clr-surface-a30) 1px solid;
        border-radius: 16px;
        font-size: 16px;
    }
    .block-row 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60vw;
        gap: 20px;
        padding: 8px 20px;
        box-sizing: border-box;
        margin-inline: auto;
    }
    .block-col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        gap: 8px;
        padding: 2px 20px;
        box-sizing: border-box;
        margin-inline: auto;
    }

        .block.animated:hover
        {
            border: 1px solid var(--clr-surface-a30);
            animation: borderShift 6s ease-in-out infinite alternate;
        }

        @keyframes borderShift
        {
            0%
            {
                border-color: var(--clr-surface-a30);
                box-shadow: 0 0 0 var(--clr-surface-a0);
            }
            50%
            {
                border-color: var(--clr-primary-a20);
                box-shadow: 0 0 8px var(--clr-primary-a40);
            }
            100% 
            { 
                border-color: var(--clr-surface-a30);
                box-shadow: 0 0 0 var(--clr-surface-a0);
            }
        }

        .block p 
        {
            margin: 0;
        }
        .block-left 
        {
            text-align: left;
            font-weight: bold;
        }

        .block-right 
        {
            text-align: right;
            color: var(--clr-surface-a50);
        }

    .bulb
    {
        text-align: center;
        margin-top: 8px;
    }

    .bulb.success
    {
        animation: bulbSuccess 4s ease-in-out infinite alternate;
    }
    @keyframes bulbSuccess
    {
        0%
        {
            color: var(--clr-success-a0);
        }
        50%
        {
            color: var(--clr-success-a10);
        }
        100% 
        { 
            color: var(--clr-success-a0);
        }
    }

    .bulb.warning
    {
        animation: bulbWarning 4s ease-in-out infinite alternate;
    }
    @keyframes bulbWarning
    {
        0%
        {
            color: var(--clr-warning-a0);
        }
        50%
        {
            color: var(--clr-warning-a10);
        }
        100% 
        { 
            color: var(--clr-warning-a0);
        }
    }

    .bulb.danger
    {
        animation: bulbDanger 4s ease-in-out infinite alternate;
    }
    @keyframes bulbDanger
    {
        0%
        {
            color: var(--clr-danger-a0);
        }
        50%
        {
            color: var(--clr-danger-a10);
        }
        100% 
        { 
            color: var(--clr-danger-a0);
        }
    }

    /* #endregion BLOCKS */

    /* #region REDDIT */

    .reddit
    {
        width: 60vw;
        margin: 0 auto 4vh auto;
        text-align: left;
        color: var(--clr-light-a0);
        padding: 16px 32px;
        border-radius: 8px;
    }
    .reddit-post
    {
        margin-bottom: 16px;
        padding-bottom: 0;
        border-bottom: var(--clr-surface-a30) 1px solid;
    }
        .reddit-post:last-child
        {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .reddit-post a
        {
            color: var(--clr-primary-a10);
            text-decoration: none;
            font-weight: bold;
        }
        .reddit-post a:hover
        {
            text-decoration: underline;
        }
        .reddit-post a h3
        {
            font-size: 16px;
        }
        .reddit-post p
        {
            font-size: 14px;
            color: var(--clr-surface-tonal-a30);
        }

    /* #endregion REDDIT */

    /* #region FOOTER */
    
    footer
    {
        text-align: center;
        color: var(--clr-surface-a40);
        font-size: 14px;
        padding: 16px 0;
        margin-top: 32px;
        border-top: var(--clr-surface-a30) 1px solid;
    }

    /* #endregion FOOTER */

    /* #region MEDIA QUERIES */

    @media (max-width: 900px)
        {
            header h2 
            {
                font-size: 1.5em;
            }
            #weather-icon 
            {
                height: 32px;
                width: 32px;
                vertical-align: middle;
            }
            #city-name, #temperature, #description
            {
                font-size: 0.8em;
                padding: 2px;
                text-align: left;
            }
            nav a 
            {
                font-size: 20px;
                padding: 8px 4vw;
            }
            nav a .desc
            {
                display: none;
            }
            .block-row 
            {
                flex-direction: column;
                width: 80vw;
                align-items: center;
                justify-content: center;
                padding: 8px 12px;
            }
            .block-col
            {
                width: 80vw;
            }

            .notification 
            {
                width: 80vw;
                margin: auto;
            }

            .block 
            {
                grid-template-columns: 1fr;
                gap: 12px;
                padding: 12px;
            }
            .block,
            .block-left,
            .block-right 
            {
                text-align: center;
            }
        }

    /* #endregion MEDIA QUERIES */